
@{
    ViewBag.Title = "SachPartial";
    Layout = "~/Views/Shared/LayoutView.cshtml";
}
@using Lesson9.Models;

@model  List<Lesson9.Models.Sach>
<div class="row">
    @{ foreach (var item in Model)
        {
            <div class="col-4">
                <img src="~/Content/HinhAnhSP/@item.AnhBia" />

                @if(item.TenSach.Length > 30)
                {
                    <p><strong title="@item.TenSach"></strong></p>
                }
            </div>
        }
    }
</div>