
@*@model List<Lesson9.Models.ChuDe>*@
@model IEnumerable<Lesson9.Models.ChuDe>
<ul class="list-group list-group-flush text-left">
    <li class="list-group-item" style="background-color:darkorange;">
        <a href="#" style="text-transform:uppercase; text-decoration:none; color:white; font-weight:bold;">Chủ Đề Sách</a>
    </li>
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a href="@Url.Action("SachTheoChuDe", "ChuDe", new { MaCD = item.MaChuDe })">
                @item.TenChuDe
            </a>
        </li>
    }
</ul>


